

body{background-image: url("/public/fondo-de-pantalla-minimalista-hd-android.jpg");background-repeat: no-repeat;background-size: cover;}

.container{
    text-align: center;

}
p{color: white;}
h1{color: white;}
h4{color: rgb(3, 3, 3);}
h1{font-family: Arial, Helvetica, sans-serif;}
body{font-family: Arial, Helvetica, sans-serif;}